.example {
  padding: 2em;
  margin: 10em auto;
  max-width: 20em;
  text-align: center;

  border: 1px solid #ddd;
  border-radius: 5px;

  img {
    max-width: 10em;
  }
}

button {
  font-size: 1.1em;
}
